

<frameset rows="93,*" cols="*" frameborder="no" border="0" framespacing="0">
  <frame src="../bandeau.html" name="topFrame" scrolling="No" noresize="noresize" id="topFrame" title="topFrame" />
  <frameset rows="*" cols="206,*" framespacing="0" frameborder="no" border="0">
    <frame src="../appli/bandeau_gauche" name="leftFrame" scrolling="Yes" noresize="noresize" id="leftFrame" title="leftFrame" />
    <frame src="../machines" name="mainFrame" id="mainFrame" title="page_cour" />
  </frameset>
</frameset>
<noframes><body>
</body>
