<h1>modification de l'application CN Machine</h1>

<%= render 'form' %>

<%= link_to 'Détails', @exec_cn_machine %> |
<%= link_to 'retour à la liste des exécutions CN machine', exec_cn_machines_path %>
