(new_options = [
<%@CnEquis.each do |cn_equi| %>
["<%= cn_equi.nom  + " BS:" +cn_equi.service_bulletin%>","<%=cn_equi.id%>"],
<%end%>
]);

/* Remove all options from the select list */
$('#exec_cn_equipement_idcn_equipement').empty();
$.each(new_options, function() {
                   $('#exec_cn_equipement_idcn_equipement').append(
                                        $("<option></option>").val(this[1]).html(this[0])
                                    )
                            });

