<h1>modification de l'application CN equipement</h1>

<%= render 'form' %>

<%= link_to 'Détails', @exec_cn_equipement %> |
<%= link_to 'retour à la liste des execution CN equipement', exec_cn_equipements_path %>